body {
    background: #f2f2f2;
    width: 100%;
    height: auto;
    font-size: 1.8em;
    font-family: "Times New Roman", Georgia, Serif;
    font-weight: normal;
    color: #232B2B;
    line-height: 2.3rem;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6  {
    /*    color: #455376;
        margin: 5px 0;*/
}
p {
    font-size: inherit;
    display: block;
}
a {
    /*    color: black;*/
    text-decoration: none;
    /*transition: all 0.5s ease;*/
}
.clear {
    clear: both;
}

/* CAROUSEL */
.carousel {
    height: auto;
}
.carousel img {
    max-height: 450px;
    width: 100%;
    object-fit: cover;
}
.carousel-caption {
    bottom: 90px;
}

/* CONTENT */
.content-wrap {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 0;
}
.listOfArticlesContent {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1%;
    position: relative;
    background: transparent;
}
.article-box {
    width: 31.3333333%;
    margin: 10px 1%;
    float: left;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
}
.article-box h2 {
    text-align: center;
}
.image-content {
    width: 100%;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 200px;
}
.article-box img {
    /*max-width: 100%;*/
    width: 100%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
/*    position: relative;*/
    height: 200px;
}
.actions {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    opacity: 1;
}
.share {
    margin: 20% 0 0 0;
}
.share img {
    width: 30%;
    height: 30%;
    background: white;
    border-radius: 15px;
    opacity: 0.8;
}
.share-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.5;
}

.banner-left {
    left: 0;
    margin-left: -120px;
}
.banner-right {
    right: 0;
    margin-right: -120px;
}
.banner {
    display: block;
    width: 120px;
    height: 600px;
    position: absolute;
    top: 29px;
}
#page {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 5px 30px 20px 30px;
}
#page .post-title {
    font: normal 700 32px/38px "Playfair Display";
    text-transform: uppercase;
}
#page .entry {
    font: normal normal 20px/30px "Times New Roman";
}
.box-content, h1 {
    text-align: center;
    margin: 15px 0;
}
.postmetadata {
    text-align: center;
}
.postmetadata hr, .article-box hr {
    border: 0;
    width: 50%;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#fff), to(#fff), color-stop(50%, #333));
}
.postmetadata hr:first-child{
    margin-bottom: 10px;
}
.postmetadata hr:last-child {
    margin-top: 10px;
}
.article-box hr:nth-child(3) {
    margin-bottom: 5px;
}
.article-box hr:nth-child(5) {
    margin-top: 5px;
}
.post-date {
    text-align: center;
}

/* SECTIONS */
#join {
    height: 500px;
    color: #fff;
    font-size: 1.8rem;
    padding: 50px 15px;
    background-image: url(../img/grass.jpg);
    background-position: center 80%;
    background-size: cover;
    /*    background-attachment: fixed;*/
    background-repeat: no-repeat;
    background-clip: border-box;    
    /*background-image: -moz-linear-gradient(top, transparent, #fff); /* FF 3.6+*/
    /*background-image: -webkit-gradient(linear, 0 0, 20% 100%, from(transparent), to(#fff)); /* Safari 4+, Chrome 2+ */
    /*background-image: -webkit-linear-gradient(top, transparent, #fff); /* Safari 5.1+, Chrome 10+ */
    /*background-image: -o-linear-gradient(top, transparent, #fff); /* Opera 11.10 */
    /*background-image: linear-gradient(to bottom, transparent, #fff); /* Standard, IE10 */

}
#join a {
    color: #fff;
}
.join1, .join2, .join3, .join4 {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 200px;
}
.join1 {
    background: #005ce6;
    margin-right: 13%;
    width: 37%;
}
.join2 {
    background: #ff8000;
    margin-right: 13%;
    width: 37%;
}
.join3 {
    background: #45c745;
    margin-left: 13%;
    width: 37%;
}
.join4 {
    background: #ce3232;
    margin-left: 13%;
    width: 37%
}
#join .join-info {
    font-family: 'Playfair Display', serif;
    font-size: 2.2em;
    line-height: 1.2em;
}

/* MOBILE VERSION */
.mobile-image {
    background: url('../img/Vytajte.jpg') no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
}
.mobile-p {
    font-size: 18px;
}

/* FOOTER */
#footer {
    background-color: rgb(192, 218, 158);
    padding-bottom: 30px;
    margin: 0;
}
#footer td {
    padding: 10px;
    border: 1px solid darkgreen;
}
#footer table {
    width: 33%;
}
.linkToRedaction {
    display: table-cell;
    cursor: pointer;
}
.linkToRedaction:hover {
    font-weight: bolder;
}
.kontakt {
    display: none;
}

@media only screen and (max-width: 1250px) {
    .banner {
        display: none;
    }
}